<section class="phx-hero">
  <h1><%= gettext "Appless mobile push login" %></h1>
  <p><%= gettext "Enter your login" %></p>
</section>

<section>
  <%= form_for @conn, Routes.register_login_path(@conn, :create), [as: :login], fn f -> %>
    Login: <%= text_input f, :login, [placeholder: "Enter your login"]%>
    <%= submit "Next" %>
  <% end %>
</section>
