<section class="phx-hero">
  <h1><%= gettext "Appless mobile push login" %></h1>
  <p> Flash the following code and follow the instruction</p>
</section>

<section>
  <p style="text-align:center">
    <%=
      Routes.mobile_registration_url(MobPushAuthWeb.Endpoint, :index, @registration_id)
      |> IO.inspect()
      |> QRCode.create!(:high)
      |> QRCode.Svg.create(%QRCode.SvgSettings{qrcode_color: "#4169e1"})
      |> raw()
    %>
  </p>
</section>
