<section class="phx-hero">
  <h1><%= gettext "Appless mobile push login" %></h1>
  <p>Registration completed !</p>
</section>

<section style="text-align: center">
  <p style="font-size: 5em; color: limegreen">✔</p>
</section>
