<section class="phx-hero">
  <h1><%= gettext "Appless mobile push login" %></h1>
</section>

<section>
  <h2>Actions</h2>
  <ul>
    <li>
      <a href="/register_login">Register</a>
    </li>
    <li>
      <a href="/auth_login">Authenticate</a>
    </li>
  </ul>
</section>
